.side-menu {
  background-color: #5F93AE;
  height: 100vh;
  padding: 20px;
  color: #DEF4FE;
}

.menu-header {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 30px;
}



.side-menu ul {
  list-style: none;
  padding: 0;

}



.side-menu li {
  margin-bottom: 15px;
  cursor: pointer;
}
