<div class="dashboard-container">
  <div class="main-content">
    <app-side-menu></app-side-menu>

    <div class="content">
      <h2 >Bienvenid&#64; al sistema de inventario</h2>
      <h3 >Farmacia {{nombreFarmacia}}</h3>
      <p class="acciones-label">Acciones:</p>

      <div class="acciones">
        <div class="acciones">
          <a 
            class="accion" 
            *ngFor="let item of botones" 
            [routerLink]="item.ruta" 
            style="text-decoration: none; color: inherit;">
            
            <i class='bx' [ngClass]="item.icon"></i>
            <span>{{ item.texto }}</span>
          </a>
        </div>

      </div>
      <div class="product-list-section">
        <h3>Listado de Productos</h3>
        <app-product-list></app-product-list>
      </div>
    </div>
  </div>
</div>

